/* general */

body {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

/*navigation*/

.navbar {
  padding: 0 100px;
}
.navHeader {
  padding: 20px 0;
}

.nav-link {
  color: #ffffff;
}

/*create user*/

.container {
  margin: 20px;
}

.btn {
  margin: 10px 0;
}

/*create Note*/
.notas{
  padding: 20px 0;
}

.form-group{
  
  padding: 5px 0;
}